
<main class="w-full mt-14 sm:mt-4 min-h-full bg-slate-100">
              
    <div class="flex flex-col gap-4 max-w-6xl mx-auto py-5">

        <div class="flex bg-white shadow rounded-sm min-w-full">
            <div class="sm:w-1/2">
                <div class="flex flex-col gap-3 my-8 mx-10">
                    <h3 class="font-semibold text-md">Delivery Address</h3>
                    <h4 class="font-semibold text-sm">Harsh Kushwah</h4>
                    <p class="text-sm ">Pioneer hostel, Near Manipal University Jaipur Dehmi kalan, Jaipur District - 303007, Rajasthan</p>
                   
                    <div class="flex gap-2 text-sm">
                        <p class="font-semibold">Phone Number</p>
                        <p class="">9058832158</p>
                    </div>
                </div>
            </div>
        </div>

    

                <div class="flex flex-col sm:flex-row min-w-full shadow rounded-sm bg-white px-2 py-5" >

                    <div class="flex flex-col sm:flex-row sm:w-1/2 gap-2">
                        <div class="w-full sm:w-32 h-20">
                            <img draggable="false" class="h-full w-full object-contain" src="https://eqipped.com/img/beaker1001.jpg" alt="beaker" />
                        </div>
                        <div class="flex flex-col gap-1.5 overflow-hidden">
                            <p class="text-md font-normal">Beaker</p>
                            <p class="text-xs">Seller: Gearlooselabs</p>
                           
                            <span class="font-semibold">₹200</span>
                        </div>
                    </div>

                    <div class="flex flex-col w-full gap-1.5 sm:w-1/2">
                        <h3 class="font-medium sm:text-center">Order Status</h3>
                        <div class="sm:text-center text-xs ">
                            <span class="border px-3 py-1  border-green-600 text-green-600 rounded-xl">
                                ₹0 PAYMENT ELIGIBLE
                            </span>
                        </div>
                    </div>

                </div>
      
        
    </div>

</main>