<section class="menu container mx-auto py-8 px-5">
  <h2 class="heading">Categories</h2>
  <div class="px-5 sm:px-14 text-justify text-blue-500 ">
 
      <p><a  class="hover:text-blue-800 hover:underline" href="/Category/Equipments/62d905ad195457310dc16d1f">Equipments</a> <span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/Category/Instruments/624e86f68964e0a947f59e00">Instruments</a><span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/Category/Plasticware/624e86f68964e0a947f59e02">Plasticware</a><span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/Category/Glassware/624e86f68964e0a947f59e04">Glassware</a><span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/Category/Chemicals/624e86f68964e0a947f59e03">Chemicals</a><span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/Category/Charts%20&%20Models/624e86f68964e0a947f59e01">Charts and models</a></p>
   
  </div>
  <h2 class="heading">Brands</h2>
  <div class="px-5 sm:px-14 text-justify text-blue-500 ">

 
      <p><a  class="hover:text-blue-800 hover:underline" href="/brand/62de6607e027439f153f1f9f">Polylab</a> <span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/brand/62de66b6e027439f153f1fa2">Borosil</a><span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/brand/62e502316563a403c2e89981">J-sil</a><span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/brand/62e8bc6c88c4a755b224ab45">Lancer</a><span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/brand/631869585a75587c16ae77c9">Remi</a><span> | </span>
      <a  class="hover:text-blue-800 hover:underline" href="/brand/6328cfba243560a67ccb81fc">Thermofisher</a><span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/brand/63518cce3b167d23f446fa26">Qualigens</a><span> | </span>



      <a  class="hover:text-blue-800 hover:underline" href="/brand/63a15cd021f74b47aa12d934">Merk</a></p>
   
  </div>
  <h2 class="heading">Company Information</h2>
  <div class="px-5 sm:px-14 text-justify text-blue-500 ">

 
      <p><a  class="hover:text-blue-800 hover:underline" href="/privacy-policy#about-us">About us</a> <span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/privacy-policy#tnc">Terms & Conditions</a><span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/privacy-policy#privacy">Privacy policy</a><span> | </span>

      <a  class="hover:text-blue-800 hover:underline" href="/privacy-policy#shipping">Shipping and returns</a><span> | </span>
      <a  class="hover:text-blue-800 hover:underline" href="/careers">Careers</a></p>
   
  </div>
  
  
</section>
