<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<h1 class="heading">Categories</h1>
<section class="container mx-auto p-4 sm:p-8 grid grid-cols-2 sm:grid-cols-5 sm:gap-2 justify-around">
    <% nashta.forEach(function(nashta){ %>
        <a href="/Category/<%= nashta.pcategory%>/<%= nashta._id%>/1">
            <div class="flex flex-col h-min w-40 p-1 border-box bg-white rounded sm:m-5 cursor-pointer">
                <lottie-player src="<%= nashta.pimage %>"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop  autoplay></lottie-player>
                <div class="flex border-box p-1 flex-col">
                    <div class="text-center">
                        <%= nashta.pcategory %>
                    </div>
                </div>
            </div>
        </a>
        <% }) %>

</section>



<h1 class="heading ">Trusted Brands</h1>

<section class="container mx-auto mb-14  flex flex-wrap justify-around">
    <div style="justify-content: left; align-items: center;"
        class="flex flex-col h-24 w-36 border-box bg-white rounded xl p-3 m-3 shadow-md hover:shadow-lg ">

        <img src="/img/brands/thermofisher.png" alt="" srcset=""></a>
    </div>

    <div style="justify-content: center; align-items: center;"
        class="flex flex-col h-24 w-36  border-box bg-white rounded xl p-3 m-3 shadow-md hover:shadow-lg">
        <img src="/img/brands/remi.png" alt="" srcset="">
    </div>

    <div style="justify-content: center; align-items: center;"
        class="flex flex-col h-24 w-36  border-box bg-white rounded xl p-3 m-3 shadow-md hover:shadow-lg">
        <img src="/img/brands/polylab.png" alt="" srcset="">
    </div>

    <div style="justify-content: center; align-items: center;"
        class="flex flex-col h-24 w-36 border-box bg-white rounded xl p-3 m-3 shadow-md hover:shadow-lg">
        <img src="/img/brands/borosil.jpg" alt="" srcset="">
    </div>

    <div style="justify-content: center; align-items: center;"
        class="flex flex-col h-24 w-36 border-box bg-white rounded xl p-3 m-3 shadow-md hover:shadow-lg">
        <img src="/img/brands/tarson.png" alt="" srcset="">
    </div>

    <div style="justify-content: center; align-items: center;"
        class="flex flex-col h-24 w-36  border-box bg-white rounded xl p-3 m-3 shadow-md hover:shadow-lg">
        <img src="/img/brands/merck.svg" alt="" srcset="">
    </div>
</section>