<section class="menu container mx-auto py-8 px-5 min-h-full">
    <h2 class = "heading" id = "about-us">Join us at Eqipped.</h2>
    <div class = "px-5 sm:px-14 text-justify">
        <p>We believe that business is the greatest platform for change and that together, we can improve the state of the world. Your work will help businesses and communities achieve their most ambitious business plans, solve their biggest challenges, and harness their successes to leave our planet a little better than we found it. Are you ready to build a rewarding career and a better future for all?</p>
    </div>
    <h2 class="heading pb-0" id = "tnc"></h2>

    <h3 class="block font-semibold px-5 sm:px-14  pt-1 text-lg">Openings</h3>

    <div class="px-5 sm:px-14 text-justify">
    <p><ul class="list-disc">
        <li>Graphic Designer</li>
        <li>Content Writer</li>
        <li>Front-end Developer</li>
        <li>Back-end Developer</li>
        <li>Full-stack Developer</li>
    

    </ul></p>
    
    </div>




    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScUbot06otF_X2g_XRb2Zn9-meO4aGC2iUFRCj7zYPadgD_tw/viewform?embedded=true" class="w-full" height="1629" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
 

    
      

    </section>
    
    
    
    