<div>

</div>

<div style="border: 2px solid black;" class="grid grid-cols-2 md:grid-cols-3 col-gap-44 row-gap-16">
    <div style="border: 2px solid black;" class="p-4 w-48">
        <h2>Abhishek</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam veniam nemo fuga repudiandae, repellendus deleniti fugiat ipsum non dolores, neque aliquam maxime vero obcaecati quas inventore accusamus sunt eveniet esse, optio totam?</p>
        <button>Contact</button>
    </div>

    <div style="border: 2px solid black;" class="p-4 w-48">
        <h2>Abhishek</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam veniam nemo fuga repudiandae, repellendus deleniti fugiat ipsum non dolores, neque aliquam maxime vero obcaecati quas inventore accusamus sunt eveniet esse, optio totam?</p>
        <button>Contact</button>
    </div>

    <div style="border: 2px solid black;" class="p-4 w-48">
        <h2>Abhishek</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam veniam nemo fuga repudiandae, repellendus deleniti fugiat ipsum non dolores, neque aliquam maxime vero obcaecati quas inventore accusamus sunt eveniet esse, optio totam?</p>
        <button>Contact</button>
    </div>
</div>